* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.perfect_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100vw;
    height: 100vh;
}

.open-modal-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    padding: 20px 40px;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 5px #aba4a4;
    background-color: #fff;
    transition: 0.25s;
}
.hideModal{
    display: none;
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal__inner {
    width: 450px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    animation: showModal linear 0.2s;
    position: relative;
    margin: 200px auto;
}

.modal__header {
    background-color: var(--pink-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-size: 17px;
}

.modal__body {
    padding: 15px;
}

.modal__footer {
    padding: 15px;
    text-align: right;
}

.modal__body h2 {
    color: var(--pink-color);
    margin-bottom: 10px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}